<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-center text-center main_image">
  <h1 class="text-3xl pt-10 pb-5"><%= t('.title') %></h1>
  <div style="position: relative; text-align: center;">
            <span style="display: flex; align-items: center; justify-content: center;" class="text-center text-xl">
              名前の先頭に★マークのある動物園は<br>
              その動物園の投稿があるってことだゾゥ<br>
              投稿は各動物園の詳細ページでも見れるゾゥ<br>
            </span>
            <%= image_tag "animalface_zou.png", class: "message-image w-16 rounded-full mx-auto" %>
          </div>
  <div class="pb-10">
    <% @zoos_by_area.each do |area, zoos| %>
      <div class="text-2xl mt-8 mb-2"><%= area %></div>
      <ul>
  <% zoos.each do |zoo| %>
    <li class="text-xl link link-primary pb-1">
      <% if zoo.posts.any? %>
        <span class="text-2xl text-star">★</span>
      <% end %>
      <%= link_to "#{zoo.name}(#{zoo.prefecture})", zoo_path(zoo) %>
    </li>
  <% end %>
</ul>
    <% end %>
  </div>
</div>
