<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-center text-center main_image">
  <h1 class="text-5xl py-16"><%= t('.title') %></h1>
  <ol class="pb-10">
    <% @top_zoos.each_with_index do |zoo, index| %>
      <li class="text-4xl pb-16">
        <div class="parent-container">
          <%= image_tag("#{format('%02d', index + 1)}.png", alt: "#{index + 1}st Place", class: 'small-size pb-4') %>
        </div>
        <%= link_to zoo.name, zoo_path(zoo), class: "link link-primary" %>
      </li>
    <% end %>
  </ol>
</div>
