<div class="flex flex-col justify-center text-center">
  <div>
    <h1 class="text-3xl my-5"><%= t('.title') %></h1>
  </div>
  <div>
    <h2 class="text-2xl font-bold my-10"><%= @zoo.name %></h2>
    <h2 class="text-2xl font-bold my-10">所在地：<%= @zoo.location %></h2>
    <h2 class="text-2xl font-bold my-10">ホームページ：<%= link_to "#{@zoo.link}", @zoo.link %></h2>
  </div>
</div>
