<% if object.errors.any? %>
  <div id="error_messages" class="main_image text-brown font-bold pb-10">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
