<footer class="footer_image relative py-10">
  <div class="md:ml-auto flex flex-wrap justify-center text-white pb-8">
    <%= link_to (t 'top.privacy_policy.title'), privacy_policy_path, class: "btn btn-primary text-white mx-1" %>
    <%= link_to (t 'top.terms_of_service.title'), terms_of_service_path, class: "btn btn-primary text-white mx-1" %>
    <%= link_to (t "defaults.inquiry"), "https://forms.gle/Xay1BB4VppFYwK2FA", class: "btn btn-primary text-white mx-1" %>
  </div>
  <p class="text-center text-white">&copy; 2023 ZooMania</p>
</footer>
