<footer class="footer_image relative py-10">
  <div class="md:ml-auto flex flex-wrap justify-center text-white pb-10">
    <%= link_to (t 'top.privacy_policy.title'), privacy_policy_path, class: "link link-hover text-white text-lg mx-2" %>
    <%= link_to (t 'top.terms_of_service.title'), terms_of_service_path, class: "link link-hover text-white text-lg mx-2" %>
    <%= link_to (t "defaults.inquiry"), "https://forms.gle/Xay1BB4VppFYwK2FA", class: "link link-hover text-white text-lg mx-2" %>
  </div>
  <div class="justify-center text-center mx-auto w-36 pb-10" style="display: flex; justify-content: center; align-items: center;">
  <a href="https://lin.ee/K5xZIFE">
    <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
  </a>
</div>
  <p class="text-center text-white">&copy; 2023 ZooMania</p>
</footer>
