<footer class="p-16 text-xl text-white footer_image">
  <div class="flex-wrap justify-center">
    <p>Developed by おおくまりょうや</p>
    <br>
    <br>
    <%= link_to (t 'top.privacy_policy.title'), privacy_policy_path, class: "btn btn-lg btn-primary text-white mr-5" %>
    <%= link_to (t 'top.terms_of_service.title'), terms_of_service_path, class: "btn btn-lg btn-primary text-white mr-5" %>
    <%= link_to (t "defaults.inquiry"), "https://forms.gle/Xay1BB4VppFYwK2FA", class: "btn btn-lg btn-primary text-white mr-5" %>
  </div>
</footer>
