<footer class="p-20 text-xl">
  <div class="flex-wrap justify-center">
    <p>Developed by おおくまりょうや</p>
    <br>
    <%= link_to (t 'policy.privacy_policy'), "#", class: "btn mr-5"%>
    <%= link_to (t 'policy.terms_of_service'), "#", class: "btn mr-5"%>
  </div>
</footer>
