<% content_for(:title, @post.title) %>
<div class="main_image py-16">
  <div class="row">
    <h1 class="text-3xl items-center justify-center text-center pb-16"><%= t '.title' %></h1>
    <%= render 'form', { post: @post } %>
  </div>
</div>
