<% content_for(:title, t('.title')) %>
<div class="py-20 main_image">
  <div class="row">
    <h1 class="text-3xl items-center justify-center text-center"><%= t '.title' %></h1>
    <%= render 'form', { post: @post } %>
  </div>
</div>
