/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.header_image {
  background-image: url("header.jpeg");
  background-size: cover;
  background-position: center;
}

.footer_image {
  background-image: url("footer.jpg");
  background-position: center;
}

.main_image {
  background-image: url("main.jpg");
  background-position: center;
}

.post_image {
  background-image: url("post.jpeg");
  background-size: cover;
  background-position: center;
}

@keyframes rotateY {
  0% { transform: perspective(500px) rotateY(0deg); }
  100% { transform: perspective(500px) rotateY(720deg); }
}

/* 使用例 */
.animation-rotateY {
  animation: rotateY 2s;
}